body {
	background-color: #000;
	font-family: "Times New Roman", Georgia, sans-serif;
	line-height: 2.0;
}
#wrapper {
background-color:  #fff;
 margin-top: 200px;
  margin-bottom: 200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 200px;
}



h1 {
	font-size: 36px;
	font-style: bold;
	}